<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Daniel Nadar. It uses the data from Mapbox.com and OpenWeatherMap.org!</p>
    <img class="author" src="img/me.jpg" alt="my picture">
    </div>

    {{>footer}}
</body>
</html>